* {
  margin: 0;
  padding: 0;
}

body {
  /*background-color: rgb(64, 57, 54);*/
  background-color: rgb(255, 255, 255);
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  font-weight: 300;
  max-width: 50%;
  margin: 50px auto 50px auto;
}

p {
  margin: 16px 0px 32px 0px;
  padding: 10px 0px 10px 0px;
  font-size: 0.75em;
  letter-spacing: 0.5px;
  line-height: 1.5;
}

a {
  color: #21cfd2;
  text-decoration: none;
}

canvas {
  position: absolute;
  left : 0px;
  top : 0px;
  z-index: -1000;
}

h3 {
  font-size: 0.75em;
  font-weight: 300;
}

#header strong {
  font-size: 1.33em;
  font-weight: 400;
  letter-spacing: 3.14px;
  color: black;
}

#header-menu {
  list-style: none;
  margin-bottom: 33px;
}

#header-menu li {
  font-size: 0.666em;
  display: inline;
  list-style-type: none;
  padding-right: 31px;
}

#footer {
  margin-top: 32px;
  position: sticky;
  bottom: 24px;
  font-size: 0.56em;
  color: #aaaaaa;
}

.project {
  width: 640px;
  margin: 16px auto 64px auto;
}

.thumbnail img{
  width: 80%;
  margin-top: 8px;
}

.youtube {
  margin: 16px auto 16px auto;
}

.photo {
  margin: 16px auto 16px auto;
}

.photo img{
  width: 640px;
}