* {
  margin: 0;
  padding: 0;
}

body {
  /*background-color: rgb(64, 57, 54);*/
  background-color: rgb(255, 255, 255);
  font-family: 'Roboto Slab', serif;
  font-size: 1.5em;
  max-width: 50%;
  margin: 50px auto 50px auto;
}

p {
  padding: 10px 0px 10px 0px;
}

a {
  color: blue;
  text-decoration: none;
}

canvas {
  position: absolute;
  left : 0px;
  top : 0px;
  z-index: -1000;
}

#header strong {
  font-size: 1.33em;
  letter-spacing: 3.14px;
  color: black;
}

#header-menu {
  list-style: none;
  margin-bottom: 33px;
}

#header-menu li {
  font-size: 0.666em;
  display: inline;
  list-style-type: none;
  padding-right: 31px;
}

#footer {
  position: absolute;
  bottom: 11px;
  font-size: 0.56em;
  color: #aaaaaa;
  text-align: right;
}